#Define all the file types that we want git to ignore (i.e. not be synchronized with the central repository)

#C++ object files folder
obj/

#build files
Build/
*.o

#library files
lib/

#QtCreator tmp files
COLONY.pro.user.*

./Mathematica/colony_example.nb.backup
