#Define all the file types that we want git to ignore (i.e. not be synchronized with the central repository)

# C++ object files folder
obj/

# build files
Build*
*.o

# library files
lib/

# QtCreator tmp files
COLONY.pro.user.*

# Mathematica notebook backup copies
./Mathematica/colony_example.nb.backup*

# C++ functions that are written by the Mathematica notebook and are user model dependent
# Note: it would be nice to keep an old version of the file as an example
# but there is no need to update it each time we modify the user model.
chemicalLangevinComputeIncrement.cpp
computePropensitiesFunctions.cpp
